
.sidebar {
	/*background-color: var(--lumo-primary-color);*/
}

.sidebar a {
	/*color: var(--lumo-primary-contrast-color);*/
	/**/
	/* TODO: Ensure it works. */
	font-weight: bold;
}

/**/
/* TODO: Make it work. */
.sidebar vaadin-progress-bar > div > div {
	/*background-color: var(--lumo-primary-contrast-color);*/
}